{% load wagtailimages_tags %}

<section class="py-16">
    <div class="container mx-auto px-4">
        <div class="flex flex-wrap">
            <div class="w-full md:w-1/2{% if value.layout == 'left' %} md:order-1{% else %} md:order-2{% endif %} px-4">
                <h2 class="mt-0">{{ value.title }}</h2>
                {{ value.description|linebreaks }}
            </div>
            <div class="w-full md:w-1/2{% if value.layout == 'right' %} md:order-1{% else %} md:order-2{% endif %} px-4">
                {% picture value.image format-{webp,jpeg} width-{992,768} sizes="(min-width: 768px) 50vw, 100vw" %}
            </div>
        </div>
    </div>
</section>
