{% load wagtailimages_tags %}

<section class="section detail">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6{% if value.layout == 'left' %} order-1{% else %} order-2{% endif %}">
                <h2 class="detail-title">{{ value.title }}</h2>
                {{ value.description|linebreaks }}
            </div>
            <div class="col-12 col-md-6{% if value.layout == 'right' %} order-1{% else %} order-2{% endif %}">
                {% picture value.image format-{avif,webp,jpeg} width-{992,768} sizes="(min-width: 768px) 50vw, 100vw" %}
            </div>
        </div>
    </div>
</section>
