// -----------------------------------------------------------------------------
// Display helper classes
// -----------------------------------------------------------------------------

@use '../abstracts/' as *;

.d-none {
  display: none !important;
}

.d-block {
  display: block !important;
}

.d-flex {
  display: flex !important;
}

.d-inline-flex {
  display: inline-flex !important;
}

@each $size in $breakpoint-sizes {
  @include respond-to(#{$size}) {
    // Display none
    .d-#{$size}-none {
      display: none !important;
    }

    // Display block
    .d-#{$size}-block {
      display: block !important;
    }
    
    // Display flex
    .d-#{$size}-flex {
      display: flex !important;
    }

    // Display inline flex
    .d-#{$size}-inline-flex {
      display: inline-flex !important;
    }
  }
}
