{% load static menu_tags %}

<div id="vNavbar">
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="min-w-37.5 flex items-center">
            <a href="/" class="text-white font-heading text-2xl font-bold capitalize">
                {% comment %} <img
                    src="{% static 'app/img/logo.svg' %}"
                    alt="Logo"
                    class="max-w-37.5 max-h-13.75"
                /> {% endcomment %}
                Wagtail App Nest
            </a>
        </div>

        {% main_menu %}
    </nav>
</div>
