{% load static menu_tags %}

<div id="vNavbar">
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-logo">
            <a href="/">
                {% comment %} <img 
                    src="{% static 'app/img/logo.svg' %}"
                    alt="Logo" 
                    class="navbar-logo-figure"
                /> {% endcomment %}
                <span>Wagtail App Nest</span>
            </a>
        </div>

        {% main_menu %}
    </nav>
</div>
