// -----------------------------------------------------------------------------
// Base global variables
// -----------------------------------------------------------------------------

// Base px unit to calculate rem
$rem-base: 16px;

// Breakpoints
$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1216px;

$breakpoints: (
  'xs': $xs,
  'sm': $sm,
  'md': $md,
  'lg': $lg,
  'xl': $xl,
);

$breakpoints-down: (
  'xs': 350px,
  'sm': 575px,
  'md': 767px,
  'lg': 991px,
  'xl': 1215px,
);

$containers: (
  'sm': $sm,
  'md': $md,
  'lg': $lg,
  'xl': $xl,
);

$breakpoint-sizes: sm, md, lg, xl;

// Base columns variables
$num-cols: 12;
$col-unit: calc(100% / $num-cols);
