// -----------------------------------------------------------------------------
// The brand fonts and typography
// -----------------------------------------------------------------------------

$base-font-size: 16px;

@font-face {
  font-family: 'HankenBook';
  src:
    url('../../fonts/hanken-book-webfont.woff2') format('woff2'),
    url('../../fonts/hanken-book-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Montserrat';
  src:
    url('../../fonts/montserrat-medium-webfont.woff2') format('woff2'),
    url('../../fonts/montserrat-medium-webfont.woff') format('woff');
}
