.body-text {
  .image-with-caption {
    img {
      max-width: 100%;
      width: auto;
      height: auto;
    }
  }

  .video-embed {
    display: flex;
    justify-content: center;
    width: 100%;

    iframe {
      width: 100%;
      height: 100%;
      width: 854px;
      height: 480px;
      position: relative;
    }
  }
}
