@use "sass:color";
@use '../abstracts/' as *;
@use '../theme/' as *;

.btn {
  padding: rem-calc(13) rem-calc(18);
  text-align: center;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: rem-calc(8);
  background-color: $white;
  border: 1px solid $gray-300;
  color: $gray-900;
  cursor: pointer;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
  font-family: inherit;
  transition: background-color 0.3s;

  &:hover {
    background-color: color.adjust($white, $lightness: -15%);
    color: $gray-900;
  }

  @each $class, $color in $merged-colors {
    &.#{$class} {
      background-color: $color;
      color: $white;
      border: none;

      &:hover {
        background-color: color.adjust($color, $lightness: -15%);
        color: $white;
      }
    }
  }

  &.white,
  &.light,
  &.lightest {
    border: 1px solid $gray-300;
    color: $gray-900;
  }

  &.black {
    &:hover {
      background-color: color.adjust($black, $lightness: 15%);
    }
  }
  
  &.dark {
    &:hover {
      background-color: color.adjust($dark, $lightness: 15%);
    }
  }
  
  &.darkest {
    &:hover {
      background-color: color.adjust($darkest, $lightness: 15%);
    }
  }

  &.disabled {
    cursor: default;
    color: $gray-200;
    border: none;
    background-color: $gray-400;

    &:hover {
      color: $gray-200;
    }
  }
}
