@use '../theme/' as *;

.egg {
  display: flex;
  justify-content: center;
  width: 100%;
  
  .egg-space {
    max-width: 265px;

    @keyframes pos {
      0%,
      100% {
        -webkit-transform: rotate(-6deg);
        transform: rotate(-6deg);
      }
      50% {
        -webkit-transform: rotate(6deg);
        transform: rotate(6deg);
      }
    }

    .egg-shape {
      fill: $teal;
      -webkit-animation: pos 3s ease infinite;
      animation: pos 3s ease infinite;
      -webkit-transform: translateY(50px);
      transform: translateY(50px);
      -webkit-transform-origin: 50% 80%;
      transform-origin: 50% 80%;
    }
  }
}
