@use '../abstracts/' as *;
@use '../theme/' as *;

.pagination-nav {
  width: 100%;

  .pagination {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    .page-item {
      border-radius: rem-calc(8);
      margin: 0 0.5rem;
  
      .page-link {
        color: $white;
        background: $primary;
        border-radius: rem-calc(8);
        display: flex;
        justify-content: center;
        align-items: center;
        width: rem-calc(36);
        height: rem-calc(36);
        padding: rem-calc(6);
  
        &:hover {
          background: color.adjust($primary, $lightness: 15%);
        }
      }
  
      &.active {
        .page-link {
          background: color.adjust($primary, $lightness: 15%);
        }
      }
    }
  }
}
