{% extends "base.html" %}
{% load static i18n %}

{% block meta_tags %}
    <link rel="shortcut icon" href="{% static 'app/img/favicon.ico' %}" type="image/x-icon">
{% endblock %}

{% block body_class %}404-page{% endblock %}

{% block content %}
    <main class="mt-18.5 lg:mt-0 py-12">
        <div class="container mx-auto px-4">
            <div class="flex justify-center">
                <div class="w-full md:w-1/2">
                    <h1>{% translate "Page not found" %}</h1>
                    <h2>{% translate "Sorry, this page could not be found." %}</h2>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
