// -----------------------------------------------------------------------------
// The footer element of the layout
// -----------------------------------------------------------------------------

@use '../abstracts/' as *;
@use '../theme/' as *;

.footer {
  background-color: $darkest;
  padding: rem-calc(60);

  .footer-brand-logo {
    margin-bottom: rem-calc(25);

    img {
      max-width: 100%;
    }
  }

  .copyright {
    color: $light;
    margin-top: rem-calc(25);
    text-align: center;
    width: 100%;
  }
}
