// -----------------------------------------------------------------------------
// The main element of the layout
// -----------------------------------------------------------------------------

@use '../abstracts/' as *;

.main {
  padding: rem-calc(40) 0;
  min-height: 100vh;

  .section {
    margin-bottom: rem-calc(48);
  }
}
