{% comment %}
Params:
- item: dict -> The menu item
{% endcomment %}

<li {% if item.handle %}id="{{ item.handle }}"{% endif %} class="relative py-2 px-4">
    <a
        href="{{ item.link.url }}"
        target="{{ item.link.target }}"
        {% if item.link.target == "_blank" %}rel="noreferrer noopener"{% endif %}
        class="text-white hover:underline no-underline{{ item.active|yesno:' opacity-50,' }}"
    >
        {{ item.label }}
    </a>

    {% if item.has_submenu %}
        {% include "menus/partials/_main_menu_submenu.html" with parent_item=item %}
    {% endif %}
</li>
