{% extends "base.html" %}
{% load i18n %}

{% block body_class %}home-page{% endblock %}

{% block content %}
    <div id="vHomeHero">
        {% include "nest/partials/_hero.html" %}
    </div>

    <main class="py-8">
        <div class="container mx-auto px-4">
            <div class="egg">
                <svg class="egg-space" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 300" aria-hidden="true">
                    <path class="egg-shape" fill="currentColor" d="M150 250c-42.741 0-75-32.693-75-90s42.913-110 75-110c32.088 0 75 52.693 75 110s-32.258 90-75 90z"/>
                    <ellipse fill="#ddd" cx="150" cy="270" rx="40" ry="7"/>
                </svg>
            </div>
            <div class="mt-6">
                <p>
                    If you see this this page and the welcome message above it means that the application is running
                    as it should and you can start to extend it into the required project.
                </p>
                <p>If you haven't already, you can login into the site admin area <a href="http://localhost:8000/admin/" target="_blank">here</a>.<p>
            </div>
        </div>
    </main>
{% endblock content %}
